.display-workouts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 50vh;
  background-color: var(--strava-orange);
  color: white
}

.display-workouts-container > h2 {
  padding: 2rem;
  color: var(--orange)
}

.workout-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.workout-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 90%;
  max-width: 420px;
  color: black;
  border-radius: 20px;
}

.workout-card > h2 {
  padding: 0rem 1rem;
}

.workout-card > img {
  max-width: 320px;
}

.workout-card > p {
  padding: 0rem 1rem;
  font-weight: bold;
  color: var(--orange)
}

.workout-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.workout-stats-container > #stat {
  background-color: lightgray;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 180px;
  height: 32px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
}

.workout-stats-container > #stat > .label {
  display: none;
  position: absolute;
  transform: translateY(100%);
  z-index: 1;
  background-color: rgb(50,50,50);
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

#stat:hover .label {
  display: flex;
}

@media(max-width: 480px) {
  .workout-stats-container > #stat {
    width: 42%;
    font-size: 12px;
  }
}