.display-workouts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 50vh;
  background-color: var(--strava-orange);
  color: white
}

.display-workouts-container > h2 {
  color: var(--orange);
  padding: 2rem;
}

.workout-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.workout-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 90%;
  max-width: 320px;
  color: black;
  border-radius: 20px;
  opacity: 90%;
  transition: all 300ms ease-in-out;
}

.workout-card:hover {
  opacity: 100%;
  cursor: pointer;
}

.workout-card > h3 {
  margin: 1rem 0 0 0;
  padding: 0 1rem;
}

.workout-card > img {
  max-width: 320px;
}

.date-and-type {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}

.date-and-type > p {
  padding: 0rem 1rem;
  font-weight: bold;
  color: var(--orange)
}

.workout-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.workout-stats-container > #stat {
  background-color: lightgray;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 180px;
  height: 32px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
}

.workout-stats-container > #stat > .label {
  display: none;
  position: absolute;
  transform: translateY(100%);
  z-index: 1;
  background-color: rgb(50,50,50);
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

#stat:hover .label {
  display: flex;
}

@media(max-width: 480px) {
  .workout-stats-container > #stat {
    width: 42%;
    font-size: 12px;
  }
}