.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: white;
  color: var(--orange);
  overflow-x: hidden;
}

.header-container > img {
  min-width: 320px;
  padding: 2rem;
}

.header-container > h1 {
  padding: 0rem 2rem;
}