.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: var(--background);
  color: var(--orange);
}

.header-container > img {
  width: 50vw;
  padding: 2rem;
}